<% include ../partials/header.ejs %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp!</h1>    
            <p>View our hand-picked campgrounds from all over the world.</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new Campground</a>
            </p>
        </div>
    </header>
    <!--This style in row will make all the images of same size and the grid will adapt by it's own.  -->
    <di  class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-4 col-sm-6">
                 <!--This thumbnail will give the grid view -->
                 <!--and make it responsive-->
                <div class="thumbnail">
                    <img style="width:100%;" src="<%= campground.image %>">
                    <div class="caption">
                        <h4><%= campground.name %></h4>
                    </div>
                    <p>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<% include ../partials/footer.ejs %>